doctype html
html(lang='en')
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css")
    link(rel="stylesheet", href="https://milligram.github.io/css/milligram.min.css")
    link(rel="stylesheet", href="css/style.css")

  body

    main.wrapper
      nav.navigation
        section.container
          a.navigation-title(href='/')
            img.img(src="https://avatars0.githubusercontent.com/u/17075165?v=3&s=40", height="40", alt="Claudia", title="Claudia")
            h1.title ClaudiaJS

          ul.navigation-list.float-right
            li.navigation-item
              a.navigation-link(href='/') Docs

      
      section.container
        != yield

      footer.footer
        section.container
          p Designed with ♥ by <a target="blank" href="https://spinscale.de">Alexander Reelsen</a> using <a href="https://github.com/milligram/milligram#license">MilliGram</a>
